client/src/modules/price/components/price-form/price-form.component.html
<form>
    <div class="form-group"><label for="AMZN">Company Ticker</label><input class="form-control" id="ticker" #ticker="" type="ticker" aria-describedby="tickerHelp" /></div>
    <button class="btn btn-primary" (click)="onClickMe(ticker.value)" type="submit">Get Price</button>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-3 col-md-3">
            <sb-card-view-details link="/dashboard" background="bg-primary"><div class="card-body">Price: {{ price }}</div></sb-card-view-details>
        </div>
    </div>
</form>

client/src/modules/price/components/price-form/price-form.component.pug
form
  .form-group
    label(for='AMZN') Company Ticker
    input#ticker.form-control(#ticker='', type='ticker', aria-describedby='tickerHelp')
  button.btn.btn-primary((click)='onClickMe(ticker.value)', type='submit') Get Price
  .row.d-flex.justify-content-center
    .col-xl-3.col-md-3
      sb-card-view-details(link='/dashboard', background='bg-primary')
        .card-body Price: {{ price }}
