client/src/modules/advice/components/advice-form/advice-form.component.pug
form
  .form-group
    label(for='AMZN') Company Ticker
    input#ticker.form-control(#ticker='', type='ticker', aria-describedby='tickerHelp')
  .form-group
    label(for='10') Number of Days
    input#days.form-control(#days='', type='days')
  button.btn.btn-primary((click)='onClickMe(ticker.value, days.value)', type='submit') Get Advice
  .row.d-flex.justify-content-center
    .col-xl-3.col-md-3
      sb-card-view-details(link='/dashboard', background='bg-primary')
        .card-body Advice: {{ advice }}

client/src/modules/advice/components/advice-form/advice-form.component.html
<form>
    <div class="form-group"><label for="AMZN">Company Ticker</label><input class="form-control" id="ticker" #ticker="" type="ticker" aria-describedby="tickerHelp" /></div>
    <div class="form-group"><label for="10">Number of Days</label><input class="form-control" id="days" #days="" type="days" /></div>
    <button class="btn btn-primary" (click)="onClickMe(ticker.value, days.value)" type="submit">Get Advice</button>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-3 col-md-3">
            <sb-card-view-details link="/dashboard" background="bg-primary"><div class="card-body">Advice: {{ advice }}</div></sb-card-view-details>
        </div>
    </div>
</form>
